
body { 
  font-family: "Helvetica Neue";
}

#content { 
  width: 960px;
}

.bars {
  fill: orange;
  stroke: grey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.brush {
  fill-opacity: 50%;
  fill: #333333;
  stroke: #cccccc;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.selecting rect {
  fill-opacity: .2;
}
.bars.selected {
  fill: rgb(250, 215, 152);
}

.mini {
  height: 200px;
  width: 960px;
  float: left;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
