
body { 
  font-family: "Helvetica Neue";
}

#content { 
  width: 960px;
  height: 540px;
  border: 1px solid black;
}

.bars {
  fill: orange;
  stroke: grey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
